.via-heading {
    font-size: 2.5rem;
    font-weight: 700;
}

.via-icon {
    height: 32px;
    width: 32px;
}

.via-border-red {
    border: 1px solid red;
    ;
}

.via-border-green {
    border: 1px solid green;
    ;
}

::ng-deep .p-accordion .via-complete-step .p-accordion-header .p-accordion-header-link {
    color: green;
}

::ng-deep .p-accordion .via-complete-step .p-accordion-tab-active .p-accordion-header .p-accordion-header-link {
    color: green;
}

::ng-deep .p-accordion .via-overdue-step .p-accordion-header .p-accordion-header-link {
    color: red;
}

::ng-deep .p-accordion .via-overdue-step .p-accordion-tab-active .p-accordion-header .p-accordion-header-link {
    color: red;
}