<!-- <p-progressSpinner></p-progressSpinner> -->
<p-toast position="top-right"></p-toast>
<div class="grid mx-3">
  <div class="col-10">
    <div class="via-heading">
      <img class="via-icon mr-2" src="../assets/via.webp" /><span>Sample Case Management - {{title}}</span>
    </div>
  </div>
  <div class="col-2 mt-3 flex justify-content-end flex-wrap">
    <span class="font-bold">{{case.User}}</span>
  </div>
</div>
<div class="grid m-3 mt-0">
  <div class="col-fixed" style="width:225px">
    <p-menu [model]="menuItems"></p-menu>
  </div>
  <div class="col">
    <div class="p-3 mb-3" style="background:white">
      <p-steps [model]="stepItems" [(activeIndex)]="activeIndex"></p-steps>
    </div>
    <div>
      <p-card *ngIf="activeIndex==0" header="Create Order"
        subheader="Select order parameters and create order to go to next steps.">
        <div class="card">
          <div class="formgrid grid">
            <div class="field col-2 md:col-3">
              <label for="zip" class="font-bold">Loan Number</label><span class="font-bold text-red-500"> *</span>
              <input id="zip" type="text" [(ngModel)]="case.Loan" [disabled]="caseCompleted"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-2 md:col-3">
              <label for="zip" class="font-bold">First Name</label>
              <input id="zip" type="text" [(ngModel)]="case.FirstName" [disabled]="caseCompleted"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-2 md:col-3">
              <label for="zip" class="font-bold">Last Name</label>
              <input id="zip" type="text" [(ngModel)]="case.LastName" [disabled]="caseCompleted"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-2 md:col-3">
              <label for="zip" class="font-bold">Email</label>
              <input id="zip" type="text" [(ngModel)]="case.Email" [disabled]="caseCompleted"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-3">
              <label for="address" class="font-bold">Property Address</label>
              <textarea id="address" type="text" rows="2" [(ngModel)]="case.Address" [disabled]="caseCompleted"
                class="textarea-font text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
            </div>
            <div class="field col-2 md:col-3">
              <label for="city" class="font-bold">City</label>
              <input id="city" type="text" [(ngModel)]="case.City" [disabled]="caseCompleted"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-2 md:col-3">
              <label for="state" class="font-bold">State</label>
              <select id="state" [disabled]="caseCompleted"
                class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                style="appearance: auto">
                <option>Alaska</option>
                <option>Arizona</option>
                <option>Arkansas</option>
                <option>Califonria</option>
                <option>Colorado</option>
                <option>Connecticut</option>
                <option>Delaware</option>
                <option>Dictrict of Columbia</option>
                <option selected>Florida</option>
                <option>Georgia</option>
                <option>Hawaii</option>
                <option>Idaho</option>
                <option>Illinois</option>
                <option>Indiana</option>
                <option>Iowa</option>
                <option>Kansas</option>
                <option>Kentucky</option>
                <option>Louisiana</option>
                <option>Maine</option>
                <option>Maryland</option>
                <option>Massachusetts</option>
                <option>Michigan</option>
                <option>Minnesota</option>
                <option>Mississippi</option>
                <option>Missouri</option>
                <option>Montana</option>
                <option>Nebraska</option>
                <option>Nevada</option>
                <option>New Hampshire</option>
                <option>New Jersey</option>
                <option>New Mexico</option>
                <option>New York</option>
                <option>North Carolina</option>
                <option>North Dakota</option>
                <option>Ohio</option>
                <option>Oklahoma</option>
                <option>Oregon</option>
                <option>Pennsylvania</option>
                <option>Rhode Island</option>
                <option>South Carolina</option>
                <option>South Dakota</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Utah</option>
                <option>Vermont</option>
                <option>Virginia</option>
                <option>Washington</option>
                <option>West Virginia</option>
                <option>Wisconsin</option>
                <option>Wyoming</option>
              </select>
            </div>
            <div class="field col-2 md:col-3">
              <label for="county" class="font-bold">County</label>
              <select id="county" [disabled]="caseCompleted"
                class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                style="appearance: auto">
                <option>Alachua County</option>
                <option>Baker County</option>
                <option selected>Bay County</option>
                <option>Duval County</option>
                <option>Miami-Dade County</option>
              </select>
            </div>
            <div class="field col-2 md:col-3">
              <label for="zip" class="font-bold">Zip</label>
              <input id="zip" type="text" [(ngModel)]="case.Zip" [disabled]="caseCompleted"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-6">
              <label for="zip" class="font-bold">Transaction Type </label>
              <div class="formgroup-inline">
                <div class="field-radiobutton">
                  <input type="radio" name="hcity" id="city7" checked>
                  <label for="city7">Refinance</label>
                </div>
                <div class="field-radiobutton">
                  <input type="radio" name="hcity" id="city8">
                  <label for="city8">Purchase</label>
                </div>
                <div class="field-radiobutton">
                  <input type="radio" name="hcity" id="city8">
                  <label for="city8">Project Review</label>
                </div>
              </div>
            </div>
            <div class="field col-2 md:col-3">
              <label for="zip" class="font-bold">Order ID</label><span class="font-bold text-red-500"> *</span>
              <input id="zip" type="text" [(ngModel)]="case.OrderID" [disabled]="caseCompleted"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-12">
              <label for="address" class="font-bold">Notes</label>
              <textarea id="address" type="text" rows="2" [disabled]="caseCompleted"
                class="textarea-font text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
            </div>
          </div>
        </div>
        <div class="flex justify-content-end flex-wrap card-container green-container">
          <button class="" pButton pRipple type="button" icon="pi pi-chevron-right" label="Next" iconPos="right"
            (click)="caseCreate()"></button>
        </div>
      </p-card>

      <p-card *ngIf="activeIndex==1" header="Document Received"
        subheader="The Order has received documents, please move to next steps.">
        <div class="formgrid grid">
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Loan Number</label>
            <label for="fileid" class="pl-2">{{case.Loan}}</label>
          </div>
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Order ID</label>
            <label for="fileid" class="pl-2">{{case.OrderID}}</label>
          </div>
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Name</label>
            <label for="fileid" class="pl-2">{{case.LastName}} {{case.FirstName}}</label>
          </div>
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Email</label>
            <label for="fileid" class="pl-2">{{case.Email}}</label>
          </div>

          <div class="field col-6 mb-3">
            <label for="fileid" class="font-bold">Property Address: </label>
            <label for="fileid" class="pl-2">{{case.Address}}, {{case.County}}, {{case.City}}, {{case.State}}
              {{case.Zip}}</label>
          </div>
          <!-- <div class="field col-6"></div> -->
          <div class="field col-6">
            <label for="address" class="font-bold">Documents</label>
            <p-listbox [options]="documents" optionLabel="name" optionDisabled="inactive"></p-listbox>
          </div>
          <div class="field col-12">
            <label for="address" class="font-bold">Notes</label>
            <textarea id="address" type="text" rows="2" [disabled]="caseCompleted"
              class="textarea-font text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
          </div>
        </div>
        <div class="mb-3">
        </div>
        <div class="flex justify-content-end flex-wrap card-container green-container">
          <button pButton pRipple type="button" class="ml-3" icon="pi pi-sitemap" label="Workflow Progress"
            iconPos="left" (click)="openWorkflow(workflowProgressUrl)"></button>
          <button pButton pRipple type="button" class="mx-3" icon="pi pi-chevron-left" label="Back" iconPos="left"
            (click)="back()"></button>
          <button pButton pRipple type="button" icon="pi pi-chevron-right" label="Next"
            (click)="orderStep('DocumentReceived')" iconPos="right"></button>
        </div>
      </p-card>
      <p-card *ngIf="activeIndex==2" header="Document Review"
        subheader="The Order is ready for Document Review, please approve or reject document from here or from email.">
        <div class="formgrid grid">
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Loan Number</label>
            <label for="fileid" class="pl-2">{{case.Loan}}</label>
          </div>
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Order ID</label>
            <label for="fileid" class="pl-2">{{case.OrderID}}</label>
          </div>
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Name</label>
            <label for="fileid" class="pl-2">{{case.LastName}} {{case.FirstName}}</label>
          </div>
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Email</label>
            <label for="fileid" class="pl-2">{{case.Email}}</label>
          </div>
          <div class="field col-6 mb-3">
            <label for="fileid" class="font-bold">Property Address: </label>
            <label for="fileid" class="pl-2">{{case.Address}}, {{case.County}}, {{case.City}}, {{case.State}}
              {{case.Zip}}</label>
          </div>
          <!-- <div class="field col-6"></div> -->
          <div class="field col-6">
            <label for="address" class="font-bold">Documents</label>
            <p-listbox [options]="documents" optionLabel="name" optionDisabled="inactive"></p-listbox>
          </div>
          <div class="field col-12">
            <label for="address" class="font-bold">Notes</label>
            <textarea id="address" type="text" rows="2" [disabled]="caseCompleted"
              class="textarea-font text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
          </div>
        </div>
        <div class="mb-3">
        </div>
        <div class="flex justify-content-end flex-wrap card-container green-container">
          <button pButton pRipple type="button" class="ml-3" icon="pi pi-sitemap" label="Workflow Progress"
            iconPos="left" (click)="openWorkflow(workflowProgressUrl)"></button>
          <button pButton pRipple type="button" class="mx-3" icon="pi pi-chevron-left" label="Back" iconPos="left"
            (click)="back()"></button>
          <button *ngIf="!caseCompleted" pButton pRipple type="button" label="Approve" icon="pi pi-chevron-right"
            class="p-button-success" (click)="orderStepApproveReject('Approve')" iconPos="right"></button>
          <button *ngIf="!caseCompleted" pButton pRipple type="button" label="Reject" icon="pi pi-chevron-right"
            class="p-button-danger mx-3" (click)="orderStepApproveReject('Reject')" iconPos="right"></button>
          <button *ngIf="caseCompleted" pButton pRipple type="button" icon="pi pi-chevron-right" label="Next"
            (click)="orderStep('DocumentReview')" iconPos="right"></button>
        </div>
      </p-card>

      <p-card *ngIf="activeIndex==3&&isQC" header="Quality Control"
        subheader="The Order is ready for Quality Audit, please check and move to next steps.">
        <div class="formgrid grid">
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Loan Number</label>
            <label for="fileid" class="pl-2">{{case.Loan}}</label>
          </div>
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Order ID</label>
            <label for="fileid" class="pl-2">{{case.OrderID}}</label>
          </div>
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Name</label>
            <label for="fileid" class="pl-2">{{case.LastName}} {{case.FirstName}}</label>
          </div>
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Email</label>
            <label for="fileid" class="pl-2">{{case.Email}}</label>
          </div>
          <div class="ml-2 mb-3">
            <label for="fileid" class="font-bold">Property Address: </label>
            <label for="fileid" class="pl-2">{{case.Address}}, {{case.County}}, {{case.City}}, {{case.State}}
              {{case.Zip}}</label>
          </div>
          <!-- <div class="field col-12">
            <label for="address" class="font-bold"> CondoSafe Properties Locking Checklist </label>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Total Number of units in COA</label>
            </div>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Total Number of Condos in COA </label>
            </div>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Total Number of Non-Condos in COA </label>
            </div>
          </div>
          <div class="field col-12">
            <label for="address" class="font-bold"> Is this a Condo Association </label>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Total Number of units in COA</label>
            </div>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Total Number of Condos in COA</label>
            </div>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Total Number of Non-Condos in COA</label>
            </div>
          </div> -->
          <div class="field col-12">
            <label for="address" class="font-bold"> Is this a Condo Association </label>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Is this a Association ?</label>
            </div>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Source to confirm Association </label>
            </div>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">If Other please explain</label>
            </div>
          </div>
          <div class="field col-12">
            <label for="address" class="font-bold">Is this Association solely Site Condos </label>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Google Earth shows Site Condos</label>
            </div>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">If yes is Site Condo flag on ?</label>
            </div>
          </div>
          <div class="field col-12">
            <label for="address" class="font-bold"> Is there Commercial Space</label>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Is there Commercial Space?</label>
            </div>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Number of Commercial Units</label>
            </div>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Source of Commercial Units</label>
            </div>
          </div>
          <div class="field col-12">
            <label for="address" class="font-bold"> Data File</label>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Did Data File match USPS formatting?</label>
            </div>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Does Locked Data File contain order address(es)?</label>
            </div>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Data Source Used</label>
            </div>
          </div>
          <div class="field col-12">
            <label for="address" class="font-bold"> General Data Quality</label>
          </div>
          <div class="field col-12">
            <div class="ml-2">
              <span class="font-bold text-red-500 mx-2"> Fail</span>
              <p-inputSwitch class="mt-2"></p-inputSwitch>
              <span class="font-bold text-green-500 mx-2"> Pass</span>
              <label for="fileid" class="ml-3">Correctly Submitted Units</label>
            </div>
          </div>
          <div class="field col-12">
            <label for="address" class="font-bold">General Notes </label>
            <textarea id="address" type="text" rows="2" [disabled]="caseCompleted"
              class="textarea-font text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
          </div>
        </div>
        <div class="mb-3">
        </div>
        <div class="flex justify-content-end flex-wrap card-container green-container">
          <button pButton pRipple type="button" class="ml-3" icon="pi pi-sitemap" label="Workflow Progress"
            iconPos="left" (click)="openWorkflow(workflowProgressUrl)"></button>
          <button pButton pRipple type="button" class="mx-3" icon="pi pi-chevron-left" label="Back" iconPos="left"
            (click)="back()"></button>
          <button pButton pRipple type="button" icon="pi pi-chevron-right" label="Next"
            (click)="orderStep('QualityControl')" iconPos="right"></button>
        </div>
      </p-card>

      <p-card *ngIf="activeIndex==4 || (activeIndex==3&&!isQC)" header="Order Fulfilled"
        subheader="The Order is ready to be fulfilled, please complete this step.">
        <div class="formgrid grid">
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Loan Number</label>
            <label for="fileid" class="pl-2">{{case.Loan}}</label>
          </div>
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Order ID</label>
            <label for="fileid" class="pl-2">{{case.OrderID}}</label>
          </div>
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Name</label>
            <label for="fileid" class="pl-2">{{case.LastName}} {{case.FirstName}}</label>
          </div>
          <div class="field col-2 md:col-3">
            <label for="zip" class="font-bold">Email</label>
            <label for="fileid" class="pl-2">{{case.Email}}</label>
          </div>
          <div class="ml-2 mb-3">
            <label for="fileid" class="font-bold">Property Address: </label>
            <label for="fileid" class="pl-2">{{case.Address}}, {{case.County}}, {{case.City}}, {{case.State}}
              {{case.Zip}}</label>
          </div>
        </div>
        <div class="flex justify-content-end flex-wrap card-container green-container">
          <button pButton pRipple type="button" class="ml-3" icon="pi pi-sitemap" label="Workflow Progress"
            iconPos="left" (click)="openWorkflow(workflowProgressUrl)"></button>
          <button pButton pRipple type="button" class="mx-3" icon="pi pi-chevron-left" label="Back" iconPos="left"
            (click)="back()"></button>
          <button pButton pRipple type="button" icon="pi" label="Complete" iconPos="right" (click)="caseStepsComplete()"
            [disabled]="caseCompleted"></button>
        </div>
      </p-card>
    </div>
  </div>
</div>